<head>
 <title>Home</title>
</head>

<header>
  <p style="font-size: 18px;float:right; margin-right: 15px">USER: <%= @user.id %> || <%= @user.username %></p>
  <h1>HOME<img src="/images/music-notes.png"></h1><a href='/songs/new' class='button'>Add New Song</a>
</header>

<% Track.all.each do |track| %>
  <div class = "post">
    <h2><%= track.title %> </h2>
    <p style="margin-bottom: 0px"> <%= track.artist %><br></p>
    <a href="<%= track.url %>" style="font-size:14px;color:grey"><%= track.url %></a>
    <br><span style="font-size:18px">User: <%= track.user_id %><br></span>
    <span class="votes"><%= track.votes%>+</span>

  </div>
<% end %>